/* --------------------------------------- */
/* weather.css example                     */
/* please include or copy this to your 	   */
/* template and custmise the styles    	   */
/* --------------------------------------- */

div.mod_weather {
    width: 220px;
    border: 1px solid #ccc;
    background: #E0E5EF;
	padding: 0;
	font-size: 10px;
	color: #282945;
	line-height: 18px;
}

img.mod_weather {
	margin-left: 20px;
	float: right;
}

div.mod_weather .weather_current {
	padding: 0 5px; 
	display: block;
	overflow: hidden;	
}

div.mod_weather .weather_forecast {
	border-top: 1px solid #ccc;
	padding: 0 5px; 
}

